<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogapp</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css' rel='stylesheet' text='text/css'>
       <link href='/stylesheets/stylesheet.css' rel='stylesheet' text='text/css'>
</head>
<body>

<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="code icon"> </i>Blog
        </div>
          <a href="/blogs" class='item'> Home </a>
      <a href="/blogs/new" class='item'> New post </a>
    </div>
  
</div>

    
